{
  "arrowParens": "always",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,

  "plugins": ["prettier-plugin-tailwindcss"]
}
