.intro{
  height: 1000px;
  background: linear-gradient(-5deg, rgb(202, 244, 255) 10%, rgb(160, 222, 255) 50%, rgb(90, 178, 255) 100%);
}

.introDivider {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.introDivider svg {
  position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 230px;
}

.introDivider .shapeFill {
  fill: #FFFFFF;
}

/* 예시: 768px 이하 화면에서 introContainer의 마진 조정 */
@media (max-width: 1200px) {
  .introDivider {
    display: none;
  }
}